html {
    font-family: var(--sans-font);
    scroll-behavior: smooth;
  }

  body {
    margin: 0 auto;
    font-family: monospace;
  }

  .container-narrow {
    max-width: 1600px;
    margin: auto;
  }

  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #7e7ed3
  }

  .meme-avatar {
    justify-self: center;
    height: 12rem;
    width: 12rem;
  }
  
  /* Add a little padding to ensure spacing is correct between content and header > nav */
  main {
    padding-top: 1.5rem;
  }
  
  /* Format headers */
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2.6rem;
    margin-top: 3rem;
  }
  
  h3 {
    font-size: 2rem;
    margin-top: 3rem;
  }


nav ul{
    height:200px; 
    width:100%; 
    overflow:hidden; 
    overflow-y:scroll;
}

  #meme-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid rgb(26, 26, 20);
}  

.flex-child:first-child {
  margin-right: 20px;
} 

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif;
}
p, div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

